<h2 mat-dialog-title>Nuevo ciclo</h2>
<form [formGroup]="myForm" novalidate autocomplete="off">
    <mat-dialog-content class="w-100 m-0">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Ciclo</mat-label>
            <input matInput type="text" formControlName="id" required>
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [mat-dialog-close]="true" (click)="submitSurveyData()" [disabled]="!myForm.valid" class="btn btn-outline-info">Guardar</button>
    </mat-dialog-actions>
</form>
