<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mt-2">
                <div class="card-header">
                    <nav class="navbar bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand">Gestión de productos</a>
                            <div class="d-flex">
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-outline-info" (click)="openDialog()">Nuevo producto</button>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="card-body" *ngIf="data">
                        <div class="row">
                            <div class="col s4">
                                <mat-form-field>
                                  <input matInput type="text" (keyup)="doFilter($event.target)" placeholder="Buscar">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4" align="right">
                                <button class="btn btn-outline-success me-2" (click)="exporter.exportTable('xlsx', {fileName:'productos'})">Excel</button>
                            </div>
                        </div>
                    <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear (matSortChange)="sortData($event)" matTableExporter  #exporter="matTableExporter" [hiddenColumns]="[23]">

                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header >ID</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.id}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header >Nombre</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.name}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="unit">
                            <mat-header-cell *matHeaderCellDef class="pad-l">Unidad</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="pad-l">{{element.unit}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="existence">
                            <mat-header-cell *matHeaderCellDef class="pad-l">Existencia</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="pad-l">{{element.existence}}
                            </mat-cell>
                        </ng-container>
                        <!-- <ng-container matColumnDef="brand">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Marca</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.brand}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="model">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Modelo</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.model}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="proration">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Prorrateo</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.proration ? 'SI': 'NO'}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="class">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Clase</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.class}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Tipo</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.type}}
                            </mat-cell>
                        </ng-container> -->
                        <!-- <ng-container matColumnDef="rsco">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">RSCO</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.rsco}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="activeingredient">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Ingrediente activo</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.activeingredient}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="doseacre">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Dosis por acre</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.doseacre}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="periodreentry">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Período de reentrada</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.periodreentry}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="termreentry">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Plazo de reentrada</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.termreentry}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="safetyinterval">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Intervalo de seguridad</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.safetyinterval}}
                            </mat-cell>
                        </ng-container> -->
                        <!-- <ng-container matColumnDef="termsafetyinterval">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Plazo de intervalo de seguridad</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.termsafetyinterval}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="toxicologicalcategory">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Categoría toxicológica</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.toxicologicalcategory}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="blueberry">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Arandano</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.blueberry ? 'SI': 'NO'}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="strawberry">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Fresa</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.strawberry ? 'SI': 'NO'}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="raspberry">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Frambuesa</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.raspberry ? 'SI': 'NO'}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="blackberry">
                            <mat-header-cell *matHeaderCellDef [hidden]="true" class="pad-l">Zarzamora</mat-header-cell>
                            <mat-cell *matCellDef="let element" [hidden]="true" class="pad-l">{{element.blackberry ? 'SI': 'NO'}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="avcost">
                            <mat-header-cell *matHeaderCellDef class="pad-l">Costo promedio</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="pad-l">{{element.avcost | currency}}
                            </mat-cell>
                        </ng-container> -->
                        <ng-container matColumnDef="presentation">
                            <mat-header-cell *matHeaderCellDef class="pad-l">Presentación</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="pad-l">{{element.presentation}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="category">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l">Clasificación</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="pad-l">{{element.category}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index;">

                                <button class="btn btn-outline-info me-2" style="padding: 0 0.2rem;" (click)="openEditDialog(element.id)"><span class="material-icons">edit</span></button>
                                <button class="btn btn-outline-danger" style="padding: 0 0.2rem;" (click)="openDeleteDialog(element.id)"><span class="material-icons">delete</span></button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>