<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mt-2">
                <div class="card-header">
                    <nav class="navbar bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand">Surtir receta</a>
                            <div class="d-flex">
                                <button mat-button class="btn btn-outline-success" (click)="all()">Seleccionar todo</button>
                                <!-- <button mat-button class="btn btn-outline-success" (click)="allSec()">Seleccionar todo</button> -->
                                <button mat-button [routerLink]="['/delivery']">Cancelar</button>
                                <button mat-button (click)="submitSurveyData()" [routerLink]="['/delivery']" [disabled]="!myForm.valid" class="btn btn-outline-info">Surtir</button>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="card-body">
                    <form [formGroup]="myForm" novalidate autocomplete="off">
                        <div class="row">
                            <mat-form-field appearance="fill" class="col-sm-12 col-md-4" hidden>
                                <mat-label>ID</mat-label>
                                <input matInput type="number" formControlName="id" required>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="col-sm-12 col-md-4" hidden>
                                <mat-label>Estatus</mat-label>
                                <mat-select matInput name="status" id="status" formControlName="status" required>
                                    <mat-option [value]="1">Nueva</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="col-sm-12 col-md-6">
                                <mat-label>Rancho</mat-label>
                                <input matInput type="text" formControlName="id_ranch" required readonly>

                                <!-- <mat-select matInput name="ranch" id="ranch" formControlName="id_ranch" required (selectionChange)="ranch($event)">
                                    <mat-option *ngFor="let ranch of ranches" [value]="ranch.id">{{ ranch.id }}
                                    </mat-option>
                                </mat-select> -->
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="col-sm-12 col-md-6">
                                <mat-label>Clasificación</mat-label>
                                <input matInput type="text" value="Fertilizante y Agroquímico" readonly>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="col-sm-12 col-md-6">
                                <mat-label>Encargado</mat-label>
                                <input matInput type="text" formControlName="manager" required readonly>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="col-sm-12 col-md-6">
                                <mat-label>Equipo de aplicación</mat-label>
                                <input matInput type="text" formControlName="equipment" required readonly>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="col-sm-12">
                                <mat-label>Justificación</mat-label>
                                <input matInput type="text" formControlName="justification" required readonly>
                            </mat-form-field>
                            <div class="col-sm-12" hidden>
                                <select2 class="w-100" 
                                    [data]="sectors"
                                    [value]="sec"
                                    multiple
                                    [overlay]="false"
                                    displaySearchStatus="always"
                                    listPosition="above"
                                    styleMode="material"
                                    resettable
                                    (update)="updateS($event)"
                                    resultMaxHeight="200px">
                                    <!-- formControlName="sectors" -->
                                    <select2-hint>Sectores</select2-hint>
                                </select2>
                            </div>
                            <div class="col-sm-12" hidden>
                                <select2 class="w-100" 
                                    [data]="products"
                                    [value]="prod"
                                    multiple
                                    [overlay]="false"
                                    displaySearchStatus="always"
                                    listPosition="above"
                                    styleMode="material"
                                    resettable
                                    (update)="updateP($event)"
                                    resultMaxHeight="200px">
                                    <!-- formControlName="products" -->
                                    <select2-hint>Productos</select2-hint>
                                </select2>
                            </div>
                            <div class="col">
                                <table class="table table-bordered" style="font-size: 0.8rem;">
                                    <thead>
                                        <th>Nombre del producto</th>
                                        <th *ngFor="let sec of sectors1" [ngStyle]="{'background-color': sec.startsWith('sector__') ? '#155a89': '#fff'}"><span *ngIf="sec.startsWith('sector__')"  style="color: #fff; font-weight: 400;">Sector {{ sec | slice:8 }}</span><span *ngIf="!sec.startsWith('sector__')">Dosis Ha</span></th>
                                    </thead>
                                    <tbody #tbody>
                                        <tr *ngFor="let pro of products1; let lastp = last">
                                            <td>{{ pro.label }} <p id="{{ pro.value }}___p"></p></td>
                                            <td *ngFor="let sec of sectors1; let lasts = last" [isLast]="lastp && lasts" (ngInit)="table()" class="text-center">
                                                <input type="number" matInput *ngIf="sec.startsWith('sector__')" id="{{ pro.value }}__{{ sec | slice:8 }}__1" value="0" min="0" step="0.01" readonly>
                                                <input type="checkbox" *ngIf="sec.startsWith('sector__')" id="{{ pro.value }}__{{ sec | slice:8 }}__3" (change)="changeC($event)">
                                                <input type="number" matInput *ngIf="!sec.startsWith('sector__')" id="{{ pro.value }}__{{ sec }}__2" value="0" min="0" step="0.01" readonly></td>
                                            <!-- <td *ngFor="let sec of sectors1">{{ pro }}-{{ sec }}</td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12" id="exis" style="display: none;">
                                Existencia: <span id="existence"></span><span id="unit" class="me-3"></span> Programada: <span id="scheduled"></span> <span id="unit1" class="me-3"></span> Disponible: <span id="available"></span><span id="unit2"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>