<h2 mat-dialog-title style="margin-bottom: 0.5rem;">Nuevo producto</h2>
<form [formGroup]="myForm" novalidate autocomplete="off">
    <mat-dialog-content class="w-100 m-0">
        <div class="row">
            <mat-form-field appearance="fill" class="col-sm-12">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="name" required autofocus>
            </mat-form-field>
            <div class="col-sm-12 col-md-6">
                <select2 class="w-100" 
                    [data]="categories"
                    displaySearchStatus="always"
                    listPosition="below"
                    styleMode="material"
                    resettable
                    formControlName="category"
                    resultMaxHeight="200px">
                    <!-- [templates]="template"> -->
                    <select2-hint>Clasificación *</select2-hint>
                    <!-- <ng-template #template let-data="data"><strong>{{data?.color}}</strong>: {{data?.name}}</ng-template> -->
                </select2>
            </div>
            <div class="col-sm-12 col-md-6">
                <select2 class="w-100" 
                    [data]="presentations"
                    displaySearchStatus="always"
                    listPosition="below"
                    styleMode="material"
                    resettable
                    formControlName="presentation"
                    resultMaxHeight="200px">
                    <select2-hint>Presentación *</select2-hint>
                </select2>
            </div>
            <mat-form-field appearance="fill" class="col-sm-12 col-md-6">
                <mat-label>Unidad de medida</mat-label>
                <mat-select matInput name="unit" id="unit" formControlName="unit">
                    <mat-option value="Kilogramo">Kilogramo</mat-option>
                    <mat-option value="Gramo">Gramo</mat-option>
                    <mat-option value="Litro">Litro</mat-option>
                    <mat-option value="Mililitro">Mililitro</mat-option>
                    <mat-option value="Paquete">Paquete</mat-option>
                    <mat-option value="Caja">Caja</mat-option>
                    <mat-option value="Pieza">Pieza</mat-option>
                    <mat-option value="Rollo">Rollo</mat-option>
                    <mat-option value="Metro">Metro</mat-option>
                    <mat-option value="Servicio">Servicio</mat-option>
                    <mat-option value="Otro">Otro</mat-option>
                    <mat-option value="N/A">N/A</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-12 col-md-6">
                <mat-label>Existencia</mat-label>
                <input matInput type="number" formControlName="existence">
            </mat-form-field>
            <div class="col-sm-12">
                <select2 class="w-100" 
                    [data]="providers"
                    multiple
                    displaySearchStatus="always"
                    listPosition="above"
                    styleMode="material"
                    resettable
                    formControlName="providers"
                    resultMaxHeight="200px">
                    <!-- [templates]="template"> -->
                    <select2-hint>Proveedores</select2-hint>
                    <!-- <ng-template #template let-data="data"><strong>{{data?.color}}</strong>: {{data?.name}}</ng-template> -->
                </select2>
            </div>
            
            <mat-label style="padding: 2rem .8rem 0 .8rem;">Variación de costos</mat-label>
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead >
                        <!-- <th>ID</th> -->
                        <th>Costo</th>
                        <th>Opciones</th>
                    </thead>
                    <tr *ngFor="let cost of costs">
                        <!-- <td>{{ cost.key }}</td> -->
                        <td>{{ cost.cost }}</td>
                        <td>
                            <button class="btn btn-outline-info me-2" style="padding: 0 0.2rem;" (click)="editCost(cost.id, cost.cost)"><span class="material-icons">edit</span></button>
                            <button class="btn btn-outline-danger" style="padding: 0 0.2rem;" (click)="deleteCost(cost.id)"><span class="material-icons">delete</span></button></td>
                    </tr>
                </table>
            </div>
            
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [mat-dialog-close]="true" (click)="submitSurveyData()" [disabled]="!myForm.valid" class="btn btn-outline-info">Guardar</button>
    </mat-dialog-actions>
</form>
<form [formGroup]="myForm1" novalidate autocomplete="off">
    <div class="row">
        <mat-form-field appearance="fill" class="col-sm-12 col-md-2" hidden>
            <mat-label>ID</mat-label>
            <input matInput type="number" formControlName="id" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-sm-12 col-md-2" style="padding: 0 0 0 2.2rem;">
            <mat-label>Costo</mat-label>
            <input matInput type="number" formControlName="cost" required>
        </mat-form-field>
        <div class="col-sm-12 col-md-2">
            <button mat-button class="btn btn-outline-success" (click)="addCost()"
                [disabled]="!myForm1.valid">Agregar</button>
        </div>
    </div>
</form>

