<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mt-2">
                <div class="card-header">
                    <nav class="navbar bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand">Entrega de pedidos</a>
                            <div class="d-flex">
                            </div>
                            <div class="d-flex">
                                <!-- <button class="btn btn-outline-success me-2" (click)="openPDialog()">Requisiciones pedidas</button> -->
                                <!-- <button class="btn btn-outline-info me-2" [routerLink]="['/new-note']">Nuevo pedido</button> -->
                                <button class="btn btn-outline-success me-2" (click)="openEDialog()">Pedidos entregados</button>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="card-body" *ngIf="data">
                        <div class="row">
                            <div class="col s4">
                                <mat-form-field>
                                  <input matInput type="text" (keyup)="doFilter($event.target)" placeholder="Buscar">
                                </mat-form-field>
                            </div>
                        </div>
                    <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear (matSortChange)="sortData($event)">

                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header >No. pedido</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.id}}
                                <!-- <span (click)="PDF(element.id)" style="color: #fff; background-color: green; border-radius: 20%; padding: 0.2rem; margin-left: 0.3rem; cursor: pointer; font-size: 0.7rem;" class="me-2">PDF</span> -->
                                <!-- <span class="ms-3" *ngIf="element.status == 1">Programado</span>
                                <span class="ms-3" *ngIf="element.status == 2">Enviada</span> -->
                                <!-- <span class="me-3" *ngIf="element.status == 3">Realizada</span> -->
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="customer">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l">Cliente</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="pad-l">{{element.customer}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l">Fecha</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="pad-l">{{element.date}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="crops">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l">Cultivo(s)</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="pad-l">{{element.crops}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="justification">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l">Justificación</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="pad-l">{{element.justification}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index;">
                                <button class="btn btn-outline-success me-2" style="padding: 0 0.2rem;" (click)="openViewDialog(element.id)">
                                    <span class="material-icons">visibility</span>Ver
                                </button>
                                <button class="btn btn-outline-info me-2" style="padding: 0 0.2rem;" (click)="openOutputDialog(element.id)">
                                    <span class="material-icons">unarchive</span>Entregar
                                </button>
                                <!-- <button *ngIf="element.status == 1" class="btn btn-outline-info me-2 w-100" style="padding: 0 0.2rem;" (click)="openMailDialog(element.id)" >
                                    <span class="material-icons">mail</span>
                                </button> -->
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>


