<h2 mat-dialog-title style="margin-bottom: 0.5rem;">Editar producto</h2>
<form [formGroup]="myForm" novalidate autocomplete="off">
    <mat-dialog-content class="w-100 m-0">
        <div class="row">
            <mat-form-field appearance="fill" class="col-sm-12 col-md-6">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="name" required autofocus>
            </mat-form-field>
            <div class="col-sm-12 col-md-6">
                <select2 class="w-100" 
                    [data]="categories"
                    [value]="cat"
                    displaySearchStatus="always"
                    listPosition="below"
                    styleMode="material"
                    resettable
                    formControlName="category"
                    resultMaxHeight="200px">
                    <!-- [templates]="template"> -->
                    <select2-hint>Clasificación *</select2-hint>
                    <!-- <ng-template #template let-data="data"><strong>{{data?.color}}</strong>: {{data?.name}}</ng-template> -->
                </select2>
            </div>
            <mat-form-field appearance="fill" class="col-sm-12 col-md-4">
                <mat-label>Marca</mat-label>
                <input matInput type="text" formControlName="brand">
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-12 col-md-4">
                <mat-label>Modelo</mat-label>
                <input matInput type="text" formControlName="model">
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-12 col-md-4">
                <mat-label>Prorrateo</mat-label>
                <mat-select matInput name="proration" id="proration" formControlName="proration" required>
                    <mat-option [value]="false">No</mat-option>
                    <mat-option [value]="true">Si</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-12 col-md-4">
                <mat-label>Unidad de medida</mat-label>
                <input matInput type="text" formControlName="unit">
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-12 col-md-4">
                <mat-label>Costo promedio</mat-label>
                <input matInput type="number" formControlName="avcost">
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-12 col-md-4">
                <mat-label>Existencia</mat-label>
                <input matInput type="number" formControlName="existence">
            </mat-form-field>
            <div class="col-sm-12">
                <select2 class="w-100" 
                    [data]="providers1"
                    [value]="pro"
                    multiple="true"
                    [overlay]="false"
                    displaySearchStatus="always"
                    listPosition="above"
                    styleMode="material"
                    resettable
                    formControlName="providers"
                    resultMaxHeight="200px">
                    <!-- [templates]="template"> -->
                    <select2-hint>Proveedores</select2-hint>
                    <!-- <ng-template #template let-data="data"><strong>{{data?.color}}</strong>: {{data?.name}}</ng-template> -->
                </select2>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [mat-dialog-close]="true" (click)="submitSurveyData()" [disabled]="!myForm.valid" class="btn btn-outline-info">Guardar</button>
    </mat-dialog-actions>
</form>

