<h2 mat-dialog-title style="margin-bottom: 0.5rem;">Nueva requisición</h2>
<form [formGroup]="myForm" novalidate autocomplete="off">
    <mat-dialog-content class="w-100 m-0">
        <div class="row">
            <mat-form-field appearance="fill" class="col-sm-12 col-md-4">
                <mat-label>ID</mat-label>
                <input matInput type="number" formControlName="id" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-12 col-md-4">
                <mat-label>Solicitante</mat-label>
                <input matInput type="text" formControlName="petitioner" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-12 col-md-4">
                <mat-label>Estatus</mat-label>
                <mat-select matInput name="status" id="status" formControlName="status" required>
                    <mat-option [value]="1">VoBo</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-12 col-md-4">
                <mat-label>Ciclo</mat-label>
                <mat-select matInput name="cicle" id="cicle" formControlName="cicle" required>
                    <mat-option *ngFor="let cicle of cicles" [value]="cicle.id">{{ cicle.id }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-12 col-md-4">
                <mat-label>Prioridad</mat-label>
                <mat-select matInput name="priority" id="priority" formControlName="priority" required>
                    <mat-option [value]="1">Baja</mat-option>
                    <mat-option [value]="2">Media</mat-option>
                    <mat-option [value]="3">Alta</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-12 col-md-4">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-12">
                <mat-label>Justificación</mat-label>
                <textarea matInput rows="2" style="resize: none;" formControlName="justification" required></textarea>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [mat-dialog-close]="true" (click)="submitSurveyData()" [disabled]="!myForm.valid" class="btn btn-outline-info">Guardar</button>
    </mat-dialog-actions>
</form>


