<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mt-2">
                <div class="card-header">
                    <nav class="navbar bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand">Gestión de requisiciones</a>
                            <div class="d-flex"></div>
                            <div class="d-flex">
                                <button class="btn btn-outline-warning me-2" (click)="openRDialog()">Requisiciones rechazadas</button>
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-outline-success me-2" (click)="openPDialog()">Requisiciones pedidas</button>
                                <button class="btn btn-outline-info me-2" [routerLink]="['/new-requisition']">Nueva requisición</button>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="card-body" *ngIf="data">
                        <div class="row">
                            <div class="col s4">
                                <mat-form-field>
                                  <input matInput type="text" (keyup)="doFilter($event.target)" placeholder="Buscar">
                                </mat-form-field>
                            </div>
                        </div>
                    <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear (matSortChange)="sortData($event)">

                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header >ID</mat-header-cell>
                            <mat-cell *matCellDef="let element">REQ-{{element.id}}
                                <span (click)="PDF(element.id)" style="color: #fff; background-color: green; border-radius: 20%; padding: 0.2rem; margin-left: 0.3rem; cursor: pointer; font-size: 0.7rem;" class="me-2">PDF</span>
                                <!-- <span (click)="PDF(element.id)" class="material-icons" style="color: #fff; background-color: green; border-radius: 20%; padding: 0.2rem; margin-left: 0.3rem; cursor: pointer; font-size: 1.5rem;">picture_as_pdf</span> -->
                                <span class="show-h" *ngIf="element.status == 1">VoBo</span>
                                <span class="show-h" *ngIf="element.status == 2">Autorizada</span>
                                <span class="show-h" *ngIf="element.status == 3">Rechazada</span>
                                <span class="show-h" *ngIf="element.status == 4">Cotizada</span>
                                <span class="show-h" *ngIf="element.status == 5">Pedida</span>
                                <span class="show-h" *ngIf="element.status == 6">Incompleta</span>
                                <span class="show-h" *ngIf="element.status == 7">Completa</span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l">Fecha de solicitud</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="pad-l">{{element.date}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="cicle">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l show-hh">Ciclo</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="pad-l show-hh">{{element.cicle}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="priority">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l show-h">Prioridad</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="pad-l show-h">
                                <span *ngIf="element.priority == 1">Baja</span>
                                <span *ngIf="element.priority == 2">Media</span>
                                <span *ngIf="element.priority == 3">Alta</span>
                            </mat-cell>
                        </ng-container>
                        <!-- <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l">Estatus</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="pad-l">
                                <span *ngIf="element.status == 1">VoBo</span>
                                <span *ngIf="element.status == 2">Autorizada</span>
                                <span *ngIf="element.status == 3">Rechazada</span>
                                <span *ngIf="element.status == 4">Cotizada</span>
                                <span *ngIf="element.status == 5">Pedida</span>
                                <span *ngIf="element.status == 6">Incompleta</span>
                                <span *ngIf="element.status == 7">Completa</span>
                            </mat-cell>
                        </ng-container> -->
                        <ng-container matColumnDef="justification">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l show-h">Justificación</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="pad-l show-h">{{element.justification}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="comments">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l show-hh">Comentarios</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="pad-l show-hh">{{element.comments}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index;">
                                <button *ngIf="element.status == 1" class="btn btn-outline-success me-2 w-100" style="padding: 0 0.2rem;" (click)="openAuthorizationDialog(element.id)" >
                                    <span class="material-icons">done</span>Autorizar
                                </button>
                                <button *ngIf="element.status == 2" class="btn btn-outline-success me-2 w-100" style="padding: 0 0.2rem;" (click)="openRequestQuoteDialog(element.id)" >
                                    <span class="material-icons">request_quote</span>Cotizar
                                </button>
                                <button *ngIf="element.status == 4" class="btn btn-outline-success me-2 w-100" style="padding: 0 0.2rem;" (click)="openOrderDialog(element.id)" >
                                    <span class="material-icons">add_shopping_cart</span>Pedido
                                </button>
                                <!-- <span *ngFor="let q of element.quotations" (click)="PDF(element.id)" style="color: #fff; background-color: green; border-radius: 20%; padding: 0.2rem; margin-left: 0.3rem; cursor: pointer; font-size: 0.7rem;" class="me-2">{{q.id}}</span> -->
                                <button *ngIf="element.status == 4" class="btn btn-outline-secondary me-1" style="padding: 0.2rem;" (click)="openQuotationsDialog(element)">COT</button>
                                <button *ngIf="element.status == 5" class="btn btn-outline-secondary me-1 w-100" style="padding: 0.2rem;" (click)="openOrdersDialog(element)">OC</button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
