.back {
    background: linear-gradient(0deg,rgba(0,0,0,.5333333333333333) 30%,hsla(0,0%,100%,.26666666666666666)),no-repeat 50%/cover url('../../../assets/bg.webp');
    background-size: cover;
    /* width: 100%; */
    height: calc(100vh - 64px);
    /* height: 100vh; */
}
.card {
    background: hsla(0,0%,94.9%,.55);
    padding: 3rem;
}
.card a:hover {
    background: hsla(0,0%,94.9%,.85);
}