<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mt-2">
                <div class="card-header">
                    <nav class="navbar bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand">Expediente</a>
                            <div class="d-flex">
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-outline-info me-2" [routerLink]="['/customers']">Clientes</button>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="card-body">
                    <form [formGroup]="myForm" novalidate autocomplete="off">
                        <div class="row">
                            <mat-form-field appearance="fill" class="col-sm-12 col-md-4">
                                <mat-label>RFC (12 ó 13 dígitos)</mat-label>
                                <input matInput type="text" formControlName="id" readonly>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="col-sm-12 col-md-8">
                                <mat-label>Nombre</mat-label>
                                <input matInput type="text" formControlName="name" readonly>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12">
                            <select2 class="w-100" 
                                [data]="crops"
                                displaySearchStatus="always"
                                listPosition="above"
                                styleMode="material"
                                resettable
                                formControlName="crops"
                                (update)="updateC($event)"
                                resultMaxHeight="250px">
                                <select2-hint>Cultivo *</select2-hint>
                            </select2>
                        </div>
                        <div class="row">
                            <div class="d-flex" *ngIf="crop">
                                <button class="btn btn-outline-primary me-2" (click)=showApps()>Recetas</button>
                                <button class="btn btn-outline-success me-2" (click)=showNotes()>Pedidos</button>
                                <button class="btn btn-outline-secondary me-2" (click)="showFiles()">Análisis</button>
                            </div>
                        </div>
                        <div class="container" *ngIf="apps">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card mt-2">
                                        <div class="card-header">
                                            <nav class="navbar bg-light">
                                                <div class="container-fluid">
                                                    <a class="navbar-brand">Recetas</a>
                                                    <div class="d-flex">
                                                    </div>
                                                </div>
                                            </nav>
                                        </div>
                                        <div class="card-body" *ngIf="data_apps">
                                                <div class="row">
                                                    <div class="col s4">
                                                        <mat-form-field>
                                                            <input matInput type="text" (keyup)="doFilter($event.target)" placeholder="Buscar">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear (matSortChange)="sortData($event)">
                        
                                                <ng-container matColumnDef="id">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header >No. receta</mat-header-cell>
                                                    <mat-cell *matCellDef="let element">{{element.id}}
                                                        <!-- <span (click)="PDF(element.id)" style="color: #fff; background-color: green; border-radius: 20%; padding: 0.2rem; margin-left: 0.3rem; cursor: pointer; font-size: 0.7rem;" class="me-2">PDF</span> -->
                                                        <!-- <span class="ms-3" *ngIf="element.status == 1">Programada</span>
                                                        <span class="ms-3" *ngIf="element.status == 2">Enviada</span> -->
                                                        <!-- <span class="me-3" *ngIf="element.status == 3">Realizada</span> -->
                                                    </mat-cell>
                                                </ng-container>
                                                <!-- <ng-container matColumnDef="customer">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l">Cliente</mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="pad-l">{{element.customer}}</mat-cell>
                                                </ng-container> -->
                                                <ng-container matColumnDef="date">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l">Fecha</mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="pad-l">{{element.date}}</mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="justification">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l show-h">Justificación</mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="pad-l show-h">{{element.justification}}</mat-cell>
                                                </ng-container>
                        
                                                <ng-container matColumnDef="action">
                                                    <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;">
                                                        <!-- <button class="btn btn-outline-success me-2 w-100" style="padding: 0 0.2rem;" [routerLink]="['/edit-application', element.id]" >
                                                            <span class="material-icons">edit</span>
                                                        </button> -->
                                                        <button class="btn btn-outline-danger me-2" style="padding: 0 0.2rem;" (click)="PDF(element.id)" >
                                                            <span class="material-icons">picture_as_pdf</span>
                                                        </button>
                                                        <button class="btn btn-outline-success me-2" style="padding: 0 0.2rem;" (click)="openEditAppDialog(element.id)" >
                                                            <span class="material-icons">content_copy</span>
                                                        </button>
                                                        <!-- <button *ngIf="element.status == 1" class="btn btn-outline-info me-2 w-100" style="padding: 0 0.2rem;" (click)="openMailDialog(element.id)" >
                                                            <span class="material-icons">mail</span>
                                                        </button> -->
                                                    </mat-cell>
                                                </ng-container>
                        
                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        
                                                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                        
                                            </mat-table>
                                            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container" *ngIf="nots">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card mt-2">
                                        <div class="card-header">
                                            <nav class="navbar bg-light">
                                                <div class="container-fluid">
                                                    <a class="navbar-brand">Pedidos</a>
                                                    <div class="d-flex">
                                                    </div>
                                                </div>
                                            </nav>
                                        </div>
                                        <div class="card-body" *ngIf="data_notes">
                                                <div class="row">
                                                    <div class="col s4">
                                                        <mat-form-field>
                                                            <input matInput type="text" (keyup)="doFilter1($event.target)" placeholder="Buscar">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            <mat-table class="mat-elevation-z8" [dataSource]="dataSource1" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear (matSortChange)="sortData1($event)">
                        
                                                <ng-container matColumnDef="id">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header >No. pedido</mat-header-cell>
                                                    <mat-cell *matCellDef="let element">{{element.id}}
                                                        <span class="show-h" style="color: #fff; background-color: green; border-radius: 20%; padding: 0.2rem; margin-left: 0.3rem; font-size: 0.7rem;" *ngIf="element.signed">Firmado</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="date">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l">Fecha</mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="pad-l">{{element.date}}</mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="justification">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l show-h">Justificación</mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="pad-l show-h">{{element.justification}}</mat-cell>
                                                </ng-container>
                        
                                                <ng-container matColumnDef="action">
                                                    <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;">
                                                        <button class="btn btn-outline-danger me-2" style="padding: 0 0.2rem;" (click)="PDF1(element.id)" >
                                                            <span class="material-icons">picture_as_pdf</span>
                                                        </button>
                                                        <!-- <button class="btn btn-outline-success me-2" style="padding: 0 0.2rem;" (click)="openRenoteDialog(element.id)">
                                                            <span class="material-icons">content_copy</span>Duplicar
                                                        </button> -->
                                                        <button class="btn btn-outline-success me-2" style="padding: 0 0.2rem;" (click)="openEditDialog(element.id)" >
                                                            <span class="material-icons">content_copy</span>
                                                        </button>
                                                        <button class="btn btn-outline-primary me-2" style="padding: 0 0.2rem;" onclick="btn_click(this)" id="{{element.id}}" *ngIf="!element.signed">
                                                            <span class="material-icons">draw</span>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>
                        
                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        
                                                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                        
                                            </mat-table>
                                            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container" *ngIf="fils">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card mt-2">
                                        <div class="card-header">
                                            <nav class="navbar bg-light">
                                                <div class="container-fluid">
                                                    <a class="navbar-brand">Documentos</a>
                                                    <div class="d-flex">
                                                        <button class="btn btn-outline-primary me-2" (click)="openUploadDialog(this.key)">Adjuntar documento</button>
                                                    </div>
                                                </div>
                                            </nav>
                                        </div>
                                        <div class="card-body" *ngIf="data_files">
                                                <!-- <div class="row">
                                                    <div class="col s4">
                                                        <mat-form-field>
                                                            <input matInput type="text" (keyup)="doFilter2($event.target)" placeholder="Buscar">
                                                        </mat-form-field>
                                                    </div>
                                                </div> -->
                                            <mat-table class="mat-elevation-z8" [dataSource]="dataSource2" matSort matSortActive="name" matSortDirection="desc" matSortDisableClear (matSortChange)="sortData2($event)">
                        
                                                <ng-container matColumnDef="name">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header >Documento</mat-header-cell>
                                                    <mat-cell *matCellDef="let element">{{element.name}}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="date">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l show-h">Fecha</mat-header-cell>
                                                    <mat-cell *matCellDef="let element" class="pad-l show-h">{{element.date}}</mat-cell>
                                                </ng-container>
                        
                                                <ng-container matColumnDef="action">
                                                    <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index;">
                                                        <!-- <button class="btn btn-outline-danger me-2" style="padding: 0 0.2rem;" (onclick)="location.href='{{element.url}}'">
                                                            <span class="material-icons">delete</span>
                                                        </button> -->
                                                        <a class="btn btn-outline-dark" href="{{element.url}}" style="padding: 0 0.2rem;" target="_blank"><span class="material-icons">visibility</span></a>
                                                        <button class="btn btn-outline-danger me-2" style="padding: 0 0.2rem;" (click)="openDeleteDialog(element.id,element.url)">
                                                            <span class="material-icons">delete</span>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>
                        
                                                <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                        
                                                <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
                        
                                            </mat-table>
                                            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="signature" hidden>
                    <div id="contSign">
                      <img src="" id="imgSign" (load)="imgChanged($event)">
                    </div>
                    <input id="id_note" type="text">
                  </div>
                <!-- <signature-pad id="sig1" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad> -->
                <!-- <div>
                    <canvas #canvas (onBeginEvent)="startDrawing($event)" (onEndEvent)="moved($event)"></canvas>
                </div>

                <button (click)="clearPad()">Clear</button>
                <button color="secondary" (click)="savePad()">Save</button>
                <img src='{{ signatureImg }}' /> -->
                
            </div>
        </div>
    </div>
</div>

